{% extends "employee_register/base.html" %}
{% load tailwind_filters %}

{% block content %}
<form action="" method="post" autocomplete="off">
{% csrf_token %}
{{ form.fullname|as_crispy_field }}
{{ form.mobile|as_crispy_field }}
<div class="flex flex-row">
    <div class="flex flex-row mr-6">
        {{ form.emp_code|as_crispy_field }}
    </div>
    <div class="flex flex-row">
        {{ form.position|as_crispy_field }}
    </div>
</div>
<div class="flex flex-row">
    <button type="submit" class="mr-4 inline-flex items-start px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:text-sm">Submit</button>
    <a href="{% url 'employee_list' %}" type="button" class="inline-flex items-start px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm">Back to list</a>
</div>
</form>
{% endblock content %}